extends layout

append head
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/javascripts/ticTacToe.js')

block content
  h1= title

  if(game)
    h1= game.name

  //if(game.user_list)
  //  ul
  //  each user in game.user_list
  //    li  #{user.userName}

  button#btn_rock.btn(type='button') Rock 
  button#btn_paper.btn(type='button') Paper 
  button#btn_scissors.btn(type='button') Scissors 
  div#div_log

