extends layout

append head

block content
  h1= title

  if(game)
    h1.text-center= game.name

  div(ng-controller='secretHitlerClientCtlr')

    div#div_log
    div#div_pregame.div-show-hide(ng-show='game_phase == "pregame"')
      div.container.text-center.mt-4
        div#div_current_user_row.row.align-items-center.mb-4.current_user.powwow_user(ng-click='toggle_ready()' ng-class="{'user_ready': current_user.isReady, 'user_notReady': !current_user.isReady}")
          div.col-sm
            img.user_img(data-ng-src='{{ current_user.picture }}')
          div.col-sm {{ current_user.userName }}
          div.col-sm {{ (current_user.isReady) ? 'Ready' : 'Not Ready' }}
        div.row.align-items-center.powwow_user(ng-repeat='user in users', ng-class="{ 'user_ready': user.isReady, 'user_notReady': !user.isReady}")
          div.col-sm
            img.user_img(data-ng-src='{{ user.picture }}')
          div.col-sm {{ user.userName }}
          div.col-sm {{ (user.isReady) ? 'Ready' : 'Not Ready' }}
        div.container.text-center.mt-4
          button#btn_start.container.btn.btn-primary.btn-lg(type='button', ng-click='start_game()') start

    div#confirm_role.div-show-hide(ng-show='game_phase =="confirm_role"')
      div.container.text-center.mt-4
        div#div_game_role(ng-if='game_role == "hitler"')
          div.rol
            div.col-sm 
              img(data-ng-src='{{ game_role_picture }}', width='200px' height='200px')
          div.rol
            div.col-sm You are HITLER
        div#div_game_role(ng-if='game_role == "liberal"')
          div.rol
            div.col-sm 
              img(data-ng-src='{{ game_role_picture }}', width='200px' height='200px')
          div.rol
            div.col-sm You are a liberal
        div#div_game_role(ng-if='game_role == "facist"')
          div.rol
            div.col-sm 
              img(data-ng-src='{{ game_role_picture }}', width='200px' height='200px')
          div.rol
            div.col-sm You are a facist
          div.rol
            div.col-sm HITLER is {{ game_role_hitler }}
          div.rol(ng-repeat='facist in game_role_facists')
            div.col-sm {{ facist }} is also a facist
      div.container.text-center.mt-4
        button#btn_ok.container.btn.btn-primary.btn-lg(type='button', ng-click='acknowledge()') Ok

    div.container.text-center.footer
       div.row
         div.col
           button#btn_test_startGame(ng-click='testStartGame') startGame
         div.col
           button#btn_test_rolesAssigned rolesAssigned
         div.col
           button#btn_test_election election
         div.col
           button#btn_test_legislative legislative
         div.col
           button#btn_test_endGame endGame

block scripts
  script(type='text/javascript' src='/socket.io/socket.io.js')
  script(type='text/javascript' src='https://code.jquery.com/jquery-1.10.2.min.js')
  script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js')
  script(type='text/javascript' src='https://code.angularjs.org/snapshot/angular-animate.js')
  script(type='text/javascript' src='/javascripts/powwow_App.js')
  script(type='text/javascript' src='/javascripts/secretHitler_client_Controller.js')
