extends layout

append head
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/javascripts/secretHitler_client.js')

block content
  h1= title

  if(game)
    h1= game.name

  //if(game.user_list)
  //  ul
  //  each user in game.user_list
  //    li  #{user.userName}

  button#btn_connect.btn(type='button') connect
  button#btn_disconnect.btn(type='button') disconnect

  div#div_log
  div#user_list
  div#game_board
