extends layout

append head
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/javascripts/secretHitler_client.js')

block content
  h1= title

  if(game)
    h1= game.name

  //if(game.user_list)
  //  ul
  //  each user in game.user_list
  //    li  #{user.userName}

  div#div_preGame
    button#btn_start.btn(type='button') start

  div#div_log
  div#user_list
  div#game_board
